@model MVCLearn.ViewModels.ClassViewModel
@{
    ViewBag.Title = "班級";
}
<h2>三年A班</h2>

<!-- #region 導師資訊 -->

<div style="text-align:center">
    <div>
        @Html.DisplayNameFor(x => x.ClassTeacher.ClassTeacher_ID)
        @Model.ClassTeacher.ClassTeacher_ID
    </div>
    <div>
        @Html.DisplayNameFor(x => x.ClassTeacher.ClassTeacher_Name)
        @Model.ClassTeacher.ClassTeacher_Name
    </div>
    <div>
        @Html.DisplayNameFor(x => x.ClassTeacher.ClassTeacher_Tel)
        @Model.ClassTeacher.ClassTeacher_Tel
    </div>
</div>

<!-- #endregion -->

<!-- #region 學生資訊 -->
<div class="col-sm-12" style="overflow-y: auto;">
    <table class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer collapsed" style="width: 100%;" role="grid">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(x => x.ClassStudentList.FirstOrDefault().ClassStudent_ClassTeacher_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.ClassStudentList.FirstOrDefault().ClassStudent_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.ClassStudentList.FirstOrDefault().ClassStudent_Tel)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.ClassStudentList)
            {
                @Html.Partial("_ClassStdent", row)
            }
        </tbody>
    </table>
</div>
<!-- #endregion -->

<script id="Template_ClassStdent" type="text/html">
    @{
        @Html.Partial("_ClassStdent")
    }
</script>
