@model MVCLearn.ViewModels.EditClassViewModel


@using (Ajax.BeginForm("ClassSearch", "LearnEdit", null,
new AjaxOptions { UpdateTargetId = "div_Class_Tab1_Q", HttpMethod = "Post", OnSuccess = "" },
new { ID = "ClassSearch" }))
{
    <!-- #region 搜尋區塊 -->

    @Html.DisplayNameFor(x => x.ClassStudent_Q.ClassStudent_Name)
    @Html.TextBoxFor(x => x.ClassStudent_Q.ClassStudent_Name)
    <button type="submit">查詢</button>

    <!-- #endregion -->

    <!-- #region 導師資訊 -->

    <div style="text-align:center">
        <div>
            @Html.DisplayNameFor(x => x.ClassTeacher.ClassTeacher_ID)
            @Model.ClassTeacher.ClassTeacher_ID
        </div>
        <div>
            @Html.DisplayNameFor(x => x.ClassTeacher.ClassTeacher_Name)
            @Model.ClassTeacher.ClassTeacher_Name
        </div>
        <div>
            @Html.DisplayNameFor(x => x.ClassTeacher.ClassTeacher_Tel)
            @Model.ClassTeacher.ClassTeacher_Tel
        </div>
    </div>

    <!-- #endregion -->

    <!-- #region 學生清單 -->

    <input id="SelectedID" type="hidden" />
    <div id="div_Class_Tab1_Q">
        @Html.Partial("_Class_Tab1_Q", Model.ClassStudentList)
    </div>

    <!-- #endregion -->

}

<script>
    function SDetail(id, type) {
        if ($.trim(id) != "") {
            $("#SelectedID").val(id);
        }

        $data = {
            "classStudent_ID": $("#SelectedID").val(),
            "action_Type": type
        }

        $.ajax({
            url: '@Url.Action("GetClassStudent_D", "LearnEdit")',
            type: "POST",
            async: false,
            data: $data,
            cache: false, //防止ie8一直取到舊資料的話，請設定為false
            success: function (data, status, xhr) {
                $('a[href="#tab2"]').tab('show');
                $("#tab2").html(data);
            }
        });
    }
</script>