@model MVCLearn.ViewModels.EditClassViewModel
@using Common
@using MVCLearn.ViewModels
@{
    var FORMID = "Class_D";
    var Table_Id = "Class_Tab2_List_Table";
    var CloseALL = true;
    var DisabledTag = "disabled";
    switch (Model.ClassStudent_D.Action_Type)
    {
        case Action_Type.Update:
        case Action_Type.Insert:
            CloseALL = false;
            DisabledTag = "";
            break;
        default:
            break;
    }
}

<div id="tab2_content" class="ibox float-e-margins" style="padding: 5px 0px 0px 0px;">
    @using (Ajax.BeginForm("", "", null,
new AjaxOptions { UpdateTargetId = "tab2", HttpMethod = "Post" },
new { ID = FORMID }))
    {
        @Html.HiddenFor(x => x.ClassStudent_D.Action_Type)
        @Html.HiddenFor(x => x.ClassStudent_D.ClassStudent.ClassStudent_ID)
        @Html.Hidden("ClassStudent_D.ClassStudent.ClassStudent_ClassTeacher_ID",1)//這邊是範例所以固定寫死1
        <div class="panel-default">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                <div class="panel-heading panel-heading-footer">
                    <h4 class="panel-title">學生基本資料</h4>
                </div>
            </a>
            <div id="collapse2" class="panel-collapse collapse in">
                <div>
                    <table class="table_common layout_fix" rules="rows">
                        <tr>
                            <td class="column_title ">
                                @*學生編號*@
                                @Html.DisplayNameFor(x => x.ClassStudent_D.ClassStudent.ClassStudent_ID)
                            </td>
                            <td class="column_search" colspan="5">
                                @Html.TextBoxFor(x => x.ClassStudent_D.ClassStudent.ClassStudent_ID, new { }.ReadOnly(true))
                            </td>
                        </tr>
                        <tr>
                            <td class="column_title ">
                                @*學生姓名*@
                                @Html.DisplayNameFor(x => x.ClassStudent_D.ClassStudent.ClassStudent_Name)
                            </td>
                            <td class="column_search" colspan="5">
                                @Html.TextBoxFor(x => x.ClassStudent_D.ClassStudent.ClassStudent_Name, new { }.ReadOnly(CloseALL))
                            </td>
                        </tr>
                        <tr>
                            <td class="column_title ">
                                @*學生電話*@
                                @Html.DisplayNameFor(x => x.ClassStudent_D.ClassStudent.ClassStudent_Tel)
                            </td>
                            <td class="column_search" colspan="5">
                                @Html.TextBoxFor(x => x.ClassStudent_D.ClassStudent.ClassStudent_Tel, new { }.ReadOnly(CloseALL))
                            </td>
                        </tr>
                        <tr>
                            <td class="column_title ">
                                @*學生性別*@
                                @Html.DisplayNameFor(x => x.ClassStudent_D.ClassStudent.ClassStudent_Sex)
                            </td>
                            <td class="column_search" colspan="5">
                                @Html.RadioButtonFor(x => x.ClassStudent_D.ClassStudent.ClassStudent_Sex, "M", new { id = "ClassStudent_Sex1" }.Disabled(CloseALL))
                                @Html.Label("ClassStudent_Sex1", "男")
                                @Html.RadioButtonFor(x => x.ClassStudent_D.ClassStudent.ClassStudent_Sex, "F", new { id = "ClassStudent_Sex2" }.Disabled(CloseALL))
                                @Html.Label("ClassStudent_Sex2", "女")
                            </td>
                        </tr>
                        <tr>
                            <td class="column_title ">
                                @*學生地址*@
                                @Html.DisplayNameFor(x => x.ClassStudent_D.ClassStudent.ClassStudent_Address)
                            </td>
                            <td class="column_search" colspan="5">
                                @Html.TextBoxFor(x => x.ClassStudent_D.ClassStudent.ClassStudent_Address, new { }.ReadOnly(CloseALL))
                            </td>
                        </tr>
                        <tr>
                            <td class="column_title ">
                                @*學生出生日期*@
                                @Html.DisplayNameFor(x => x.ClassStudent_D.ClassStudent.ClassStudent_Birth)
                            </td>
                            <td class="column_search" colspan="5">
                                @Html.TextBoxFor(x => x.ClassStudent_D.ClassStudent.ClassStudent_Birth, new { }.ReadOnly(CloseALL))
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        @*家長*@
        <div class="panel-default">
            <div>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    <div class="panel-heading panel-heading-footer">
                        <h4 class="panel-title float-left panel-title-havebtn">家長資料</h4>
                        <input type="button" class="float-left btn-I" value="新增家長資料" name="LIST_ADD" @DisabledTag>
                    </div>
                </a>
            </div>
            <div id="collapse3" class="panel-collapse collapse in">
                <table class="table_common RowTable" rules="all" id="@Table_Id">
                    <thead>
                        <tr id="TableTitle">
                            <th>家長姓名</th>
                            <th>家長電話</th>
                            <th>家長地址</th>
                            <th>家長性別</th>
                            <th>家長出生日期</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            if (Model.ClassStudent_D != null)
                            {
                                if (Model.ClassStudent_D.ClassStudentParentsList != null && Model.ClassStudent_D.ClassStudentParentsList.Any())
                                {
                                    var i = 0;
                                    foreach (var Rows in Model.ClassStudent_D.ClassStudentParentsList)
                                    {
                                        <tr data-no="@i">
                                            @Html.Partial("_Class_Tab2_ListEdit", Rows, new ViewDataDictionary { { "i", i }, { "Action_Type", Model.ClassStudent_D.Action_Type } })
                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>


<script id="Template_D_LIST" type="text/html">
    @{
        @Html.Partial("_Class_Tab2_ListEdit", new ClassStudentParents(), new ViewDataDictionary { { "i", 999999 }, { "Action_Type", Model.ClassStudent_D.Action_Type } })
    }
</script>

<!--按鈕列-->
<script id="BTN_BAR" type="text/html">
    <div class="panel-default">
        <div class="panel-heading panel-heading-footer">
            <button data-function-btn name="@{@Action_Type.Select}" type="button" class="btn-R" style="display: none" disabled>瀏覽</button>
            <button data-function-btn name="@{@Action_Type.Insert}" type="button" class="btn-I" onclick="SDetail('', '@Action_Type.Insert')" style="display: none" disabled>新增</button>
            <button data-function-btn name="Confirm_@{@Action_Type.Insert}" type="button" class="btn-I" onclick="SAVE(this)">確定新增</button>
            <button data-function-btn name="@{@Action_Type.Update}" type="button" class="btn-E" onclick="SDetail('', '@Action_Type.Update')" style="display: none" disabled>修改</button>
            <button data-function-btn name="Confirm_@{@Action_Type.Update}" type="button" class="btn-E" onclick="SAVE(this)" style="display: none" disabled>確定修改</button>
            <button data-function-btn name="@{@Action_Type.Stop}" type="button" class="btn-D" onclick="DELETE(this)" style="display: none" disabled>刪除</button>
            <button data-function-btn name="@{@Action_Type.Cancel}" type="submit" class="btn-C" onclick="SDetail('', '@Action_Type.Select')" style="display: none" disabled>取消</button>
        </div>
    </div>
</script>

<script>

    $("#@{@FORMID}").prepend($("#BTN_BAR").html());
    $(function () {
        AccordionEvt('@FORMID');
    });


   //家長資料 部分編輯區塊相關語法

    //#region 家長資料－編輯
    function LIST_EDIT(i) {
        Common_List_Edit(i, "@Model.ClassStudent_D.Action_Type");
    }
    //#endregion

    //#region 家長資料－新增
    $("[name=LIST_ADD]").click(function () {
        Common_List_Add("@Table_Id");
        return false;
    });

    //#region 家長資料－刪除
    function LIST_DEL(i) {
        Common_List_Del(i);
    }
    //#endregion

    //#region 家長資料－更新
    function LIST_UPD(i) {
        Common_List_Upd("ClassStudentParentsList", i, "@Model.ClassStudent_D.Action_Type")
    }
    //#endregion

    //#region 家長資料－取消
    function LIST_CANCEL(i) {
        Common_List_Cancel("ClassStudentParentsList", i, "@Model.ClassStudent_D.Action_Type");
    }
    //#endregion

    function SAVE(obj) {
        //確認刪除後，確認SWEETALERT是否有消失，再呼叫SAVE FUNCTION
        if ($('div.sweet-alert:visible').length > 0) {
            //若SweetAlert尚未完全消失，就再延遲執行後續的動作
            setTimeout(SAVE, 50);
            return;
        }
        $form = $("#@{@FORMID}");
        //因為disabled時後端收不到disabled的值，所以這邊在送出前把被disabled的物件長出一個分身(hidden)這樣後端就可以取得到分身的值
        BeforeSubmit_BuildHidden($form);
        //逐項取值－取得Table_Id列表內的值 長出一個分身(hidden)這樣後端就可以取得到分身的值
        BeforeSubmit_BuildHidden_List("@Table_Id" , $form);

        var dataToPost = $form.serialize();
        $.ajax({
            url: '@Url.Action("ClassStudent_CRUD", "LearnEdit")',
            type: "POST",
            async: false,
            data: dataToPost,
            cache: false, //防止ie8一直取到舊資料的話，請設定為false
            success: function (data, status, xhr) {
                    if (data.Message.indexOf("成功") > -1) {
                        if ($("[name$='Action_Type']").val() != '@{@Action_Type.Stop}') {
                            SDetail(data.PKKEY, '@Action_Type.Select', false);
                            $("[name=@{@Action_Type.Select}]:eq(0)").click();
                        }
                    else {
                        $("[data-function-btn]").attr('disabled', true);
                        $("[data-function-btn]").attr('style', 'display: none ');
                        $("[name=@{@Action_Type.Select}]").attr('disabled', false);
                        $("[name=@{@Action_Type.Select}]").attr('style', 'display: ');
                        }
                        SuccessAlert(data.Message, "");
                    //只要有新增、修改、刪除 就把異動flag立起來，當切換到tab1時再依這個欄位判斷要不要刷新畫面
                    $("#Refresh").val("1");
                    }
                    else {
                        InfoAlert(data.Message);
                    }
            }
        });
    }

    function DELETE(obj) {
        swal({
            title: "您確定要刪除嗎？",
            text: "",
            type: "info",
            showCancelButton: true,
            confirmButtonText: "是",
            cancelButtonText: "否"
        },
        function (isConfirm) {
            if (isConfirm) {
                $("[name$='Action_Type']").val('@{@Action_Type.Stop}');
                SAVE($(obj));
            }
            else {
                return;
            }
        });
    }

</script>


@{
    switch (Model.ClassStudent_D.Action_Type)
    {
        case Action_Type.Select:
            <script>
                    $("[data-function-btn]").attr('disabled', false);
                    $("[data-function-btn]").attr('style', 'display: ');
                    $("[name=@{@Action_Type.Cancel}]").attr('disabled', true);
                    $("[name=Confirm_@{@Action_Type.Insert}], [name=Confirm_@{@Action_Type.Update}]").attr('style', 'display: none');
                    $("[name=LIST_ADD]").attr('disabled', true);
                    $("a[data-toggle*=LIST_LABEL]").attr('style', 'display: none');
            </script>
            break;

        case Action_Type.Insert:
            <script>
                    $("[data-function-btn]").attr('disabled', true);
                    $("[data-function-btn]").attr('style', 'display: none');
                    $("[name=Confirm_@{@Action_Type.Insert}]").attr('disabled', false);
                    $("[name=Confirm_@{@Action_Type.Insert}]").attr('style', 'display: ');
                    $("[name=LIST_ADD]").attr('disabled', false);
                    $("a[data-toggle*=LIST_LABEL]").attr('style', 'display: ');
                    if ($("#SelectedID").val() != "") {
                        $("[name=@{@Action_Type.Cancel}]").attr('disabled', false);
                        $("[name=@{@Action_Type.Cancel}]").attr('style', 'display: ');
                    }
            </script>
            break;

        case Action_Type.Update:
            <script>
                    $("[data-function-btn]").attr('disabled', true);
                    $("[data-function-btn]").attr('style', 'display: none');
                    $("[name=Confirm_@{@Action_Type.Update}], [name=@{@Action_Type.Cancel}], [name=@{@Action_Type.Other}]").attr('disabled', false);
                    $("[name=Confirm_@{@Action_Type.Update}], [name=@{@Action_Type.Cancel}], [name=@{@Action_Type.Other}]").attr('style', 'display: ');
                    $("[name=LIST_ADD]").attr('disabled', false);
                    $("a[data-toggle*=LIST_LABEL]").attr('style', 'display: ');
            </script>
            break;

        default:
            break;
    }
}

