@model PagedList.IPagedList<MVCLearn.ViewModels.ClassStudent>
@using Common

<div class="panel-body">
    <table class="table_common RowTable" rules="all">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(x => x.FirstOrDefault().ClassStudent_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.FirstOrDefault().ClassStudent_Tel)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var row in Model)
                {
                    <tr onclick="SDetail('@row.ClassStudent_ID', '@Action_Type.Select')">
                        <td>
                            @row.ClassStudent_Name
                        </td>
                        <td>
                            @row.ClassStudent_Tel
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<!--頁碼-->
@Html.Partial("../Common/_Pagination", Model)